[user]
  name =  Luni-4
  email = luni-4@hotmail.it
[github]
  user = Luni-4
[color]
  diff = always
[alias]
  hist = log --pretty=format:'%Cred%h%Creset %C(bold blue)<%an>%Creset%C(yellow)%d%Creset %Cgreen(%cr)%Creset%n%w(80,8,8)%s' --graph
  amend = commit --amend
  namend = commit --amend --all --no-edit
  # Parameters: receiver-mail -k -n
  # -k[--keep-subject]: Do not strip/add [PATCH] from the first line of the commit log message.
  # -n[--numbered]: Name output in [PATCH n/m] format, even with a single patch.
  spatch = "!f() { \
      rm -rf patches; \
      git format-patch "$2" "$3" -o patches master; \
      git send-email --to "$1" patches; \
  }; f"
  # Parameters: receiver-mail -k -n
  # -k[--keep-subject]: Do not strip/add [PATCH] from the first line of the commit log message.
  # -n[--numbered]: Name output in [PATCH n/m] format, even with a single patch.
  mpatch = "!f() { \
      rm -rf patches; \
      git format-patch "$2" "$3" -n -o patches master; \
      git send-email --compose --no-chain-reply-to --to "$1" patches; \
  }; f"
  # Parameters: user ssh-repository branch
  from-fork = "!f() { \
      git remote add "$1" "$2"; \
      git fetch "$1" "$3"; \
      git checkout -b "$3" "$1"/"$3"; \
  }; f"
  # Parameters: https-repository
  github-repo = "!f() { \
      git remote add origin https://github.com/Luni-4/"$1".git; \
      git push -u origin master; \
  }; f"
  # Parameters: https-repository
  gitlab-repo = "!f() { \
      git remote add origin https://gitlab.com/Luni-4/"$1".git; \
      git push -u origin master; \
  }; f"
[core]
  excludesfile = ~/.gitignore_global
  autocrlf = false
  eol = lf
  whitespace = tab-in-indent
  editor = nvim
[branch]
  autosetuprebase = always
[merge]
  conflictStyle = diff3
[diff]
  tool = kdiff3
[pull]
  ff = only
[push]
  default = current
  followTags = true
[status]
  showUntrackedFiles = all
[color "diff"]
  old = red
  new = green
  whitespace = blue reverse
[format]
  numbered = auto
[sendemail]
  smtpserver = smtp.live.com
  smtpserverport = 25
  smtpuser = luni-4@hotmail.it
  smtpencryption = tls
  chainreplyto = false
  suppresscc = all
  confirm = auto
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
