[Desktop Entry]
Type=Application
Name=Alacritty
GenericName=Terminal
Comment=A fast, cross-platform, OpenGL terminal emulator
Exec=snap run alacritty
Icon=alacritty
Terminal=false
Categories=System;TerminalEmulator;
StartupNotify=true
