[Desktop Entry]
X-SnapInstanceName=zulip
Name=Zulip
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/zulip_zulip.desktop /snap/bin/zulip %U
Terminal=false
Type=Application
Icon=/snap/zulip/35/meta/gui/icon.png
StartupWMClass=Zulip
Comment=Zulip Desktop Client for Linux
Categories=Chat;GNOME;GTK;Network;InstantMessaging;
